// Mixings
@mixin background($imgpath,$position:center 0,$repeat: no-repeat,$size:cover, $color:#000) {
    background: {
        image: url($imgpath);
        position: $position;
        repeat: $repeat;
        size: $size;
        color: $color;
    }
}

// Return a background image
@function backgroundPath($resource) {
	@return '/img/backgrounds/' + $resource;
}

// Return a resource image
@function resourcePath($resource) {
	@return '/img/resources/' + $resource;
}