// Path to the assets
$assetPath : "http://solar.invest/img";

// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.8rem;
$line-height-base: 1.6;

// Theme colors
$primary-blue: rgba(4, 33, 47, 1) !important;
$secondary-blue: rgba(31, 57, 70, 1) !important;
$primary-green: rgba(40, 167, 69, 1) !important;
