svg{
    width: 100%;
  	max-width: 100%!important;
  	height: auto;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	position: relative;
  	text-align: center;
}
.land {
    fill:#fff;
    fill-opacity: 1;
    stroke:#28a745;
    stroke-opacity: 1;
    stroke-width: 0.7;
    cursor: pointer;
}
.land:hover {
    fill: #28a745;
}

// -------------------------
.description{
    pointer-events: none;
    position: absolute;
    font-size: 14px;
    text-align: center;
    background-color: rgba(92, 89, 84, .7) !important;
    padding-left: 30px; 
    padding-right: 30px;
    z-index: 5;
    height: 30px;
    min-width: 60px !important;
    line-height: 30px;
    margin: 0;
    color: #fff;
    border-radius: 5px;
    display: none;
}
.description.active{
    display: block;
}
.description:after{
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(92, 89, 84, .7) !important;
}